.cover-container {
    min-height: 100vh;
    padding-top: 70px;
    /* removed to facilitate footer */
    background-color: rgb(217, 255, 204);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    position: relative;
    overflow-x: hidden;
}

.container-fluid {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

/* Grid */

.row {
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
}

.chart-wrapper {
    /*  max-width: 960px; */
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(28, 163, 42, 0.3);
    text-align: center;
    display: flex;
}


/* Navbar  */

.nav-container {

    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

}

.navbar {
    background-color: rgb(10, 173, 13);
    opacity: 0.9;
    margin: 0;
    border: 0;
}

.navbar-nav {
    font-style: bold;
    text-align: left;
    list-style: none;
    /* to counter the body - text center inherited rule */
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-nav .nav-link {
    padding-top: 2px;
    padding-bottom: 2px;
}


.nav-icon {
    font-size: 20px;
}

/* Emissions/Number Box*/

.emissions-box {
    font-size: 15px;
    margin-bottom: 2px;
}

.number-box {
    margin: 10px;
    font-size: 35px;
    border: 2px solid #e5d9d9;
    border-radius: 15px;
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;

}


div.dc-chart {
    float: none;
}

/* Buttons */

#reset-button {
    color: #3d7a59;
    font-weight: 700;
    font-size: 17px;
    margin: 5px;
    padding: 5px;
    position: fixed;
    bottom: 7px;
    right: 2px;
    z-index: 1;
    opacity: 0.9;
    /*  position: fixed; */
}

button {
    margin: 5px;
    color: white;
    background-color: green;
    width: 130px;
    height: 65px;
    line-height: 30px;
    font-weight: bold;
}

.mini-button {
    margin: -20px;
    padding: 2px;
}

/* Headings */

.mainheader {
    color: green;
    font-size: 50px;
    text-decoration: underline;
}

.underhead {
    color: green;
    font-weight: bold;
}

.chart-header {
    color: green;
    text-decoration: underline;
}

/* Line style */

.hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid black;
}


/* Selector/chart headers/styles*/

.regional-selector {

    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
    height: 10px;

}

.regional-pie {
    color: green;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 15px;

}

.regional-line {
    color: green;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 15px;
}


/* GRAPH LABELS */

#eu-pollution-chart .axis.x>.tick>text {

    text-align: right;
    font-size: 8.5px;
    font-weight: bold;
    transform: translate(-12px, 8px) rotate(-30deg);

    /*formerly -12px, 22px (-90deg)*/
}

#eu-per_cap-chart .axis.x>.tick>text {

    text-align: right;
    font-size: 8.2px;
    font-weight: bold;
    transform: translate(-12px, 8px) rotate(-30deg);

}

.dc-chart .pie-slice {
    fill: #fff;
    font-size: 9px;
    font-weight: bold;
}

/* MODAL */

.modal {
    color: black;
    background-color: rgb(204, 255, 204, 0.8);
}

.modal-header {

    background-color: rgb(204, 255, 204);
    opacity: 0.8;

}

.modal-title {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-left: 45px;
    padding: 5px;
    text-decoration: underline;
}


.modal-body {
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 153, 51);
    opacity: 0.8;
    text-align: center;
}

.modal-footer {
    background-color: rgb(204, 255, 204);
    opacity: 0.8;
}

.modal-header .close {
    margin: -10px;
}

/* FOOTER */

.footer {
    height: 80px;
    margin-top: 10px;
    background-color: #008000;
    color: white;
    text-align: center;

}

.footer-row {
    padding: 5px;
    margin-top: 10px;
}

